/* Css para la pagina de Crear o buscar Incidencias*/

/* para visualizar mejor lo tamaños */
* {
    border: 1px solid red;
}

.crearincidencia-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
    align-items: center;
    padding: 5%;
}
.crearincidencia-opciones {
    display: flex;
    flex-direction: column;
}

.crearincidencia-opciones button {
    background-color: #66c2ff;
    border-radius: 4px;
    height: 4em;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    color: black;
}
.crearincidencia-opciones button:hover {
    background-color: #0056b3;
}

.crearincidencia-opciones input {
    height: 4em;
    width: 100%;
    color: #212529;
    background-color: #66c2ff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.crearincidencia-opciones input:hover {
    background-color: #0056b3;
}
.crearincidencia-opciones input::placeholder {
    color: black;
    font-family: sans-serif;
    text-align: center;
}
.crearincidencia-opciones input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    text-align: center;
}
.crearincidencia-opciones input:focus::placeholder{
    color: white;
}


