* {
    border: 1px ;
}

html, body {
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#boton-inicio{
    position: fixed;
    top: 90%;
    left: 90%;
    border: 1px solid;
    border-radius: 30px;
    height: 6%;
    width: 8%;
    background-color: #66c2ff;
    text-align: center;
}
/* Elementos de la pagina */
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #66c2ff;
    height: 15%;
    width: 100%;
}
/* Carousel */
#myCarousel{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #66c2ff;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}


/* Contenido Carousel */
.contenido-1{
    display: block;
    width: 70%;
    margin: auto;
}
.contenido-1 label{
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    color: black;
    margin-bottom: 10px;
}
.contenido-1 input, textarea{
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 43x;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
}


.contenido-2{
    display: block;
    width: 70%;
    margin: auto;
}
.contenido-2 div{
    margin-bottom: 1em;
}
.contenido-2 h3{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom:1em;
}



.contenido-3{
    display: block;
    width: 70%;
    margin: auto;
}
.contenido-3 h3{
    display: block;
    text-align: center;
}
.contenido-3 label{
    display: block;
    color: black;
    border-radius: 5px; 
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 5px;
    background: #66c2ff;
    border-radius: 5px;
    box-shadow:  5px 5px 10px #5bade3, -5px -5px 10px #71d7ff;
    margin: 1em;
}
.contenido-3 label:hover{
    border-radius: 5px;
    color: black;
    background: #66c2ff;
    box-shadow: inset 15px 15px 30px #56a3d6, inset -15px -15px 30px #76e1ff;
}
.adjuntos-preview {
    height: fit-content;
    margin: 1em;
    min-height: 5em;
    border-radius: 4px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
}


.contenido-4{
    display: block;
    width: 70%;
    margin: auto;
}


.contenido-5{
    display: block;
    width: 70%;
    margin: auto;
}
.contenido-5 div{
    margin-bottom: 2em;
}
.btn-creado{
    display: block;
    color: black;
    border-radius: 5px; 
    font-size: larger;
    width: 90%;
    height: 4em;
    transition: all 0.3s ease;
    border-radius: 5px;
    background: #66c2ff;
    border-radius: 5px;
    box-shadow:  5px 5px 10px #5bade3, -5px -5px 10px #71d7ff;
    margin:1em;
}
.btn-creado:hover{
    background: #66c2ff;
    box-shadow: inset 15px 15px 30px #56a3d6, inset -15px -15px 30px #76e1ff;
}
.btn-cancelado{
    display: block;
    color: black;
    border-radius: 5px; 
    font-size: larger;
    width: 90%;
    height: 4em;
    transition: all 0.3s ease;
    border-radius: 5px;
    background: #66c2ff;
    border-radius: 5px;
    box-shadow:  5px 5px 10px #5bade3, -5px -5px 10px #71d7ff;
    margin: 1em;
}
.btn-cancelado:hover{
    background: #66c2ff;
    box-shadow: inset 15px 15px 30px #56a3d6, inset -15px -15px 30px #76e1ff;
}


.contenido-6{
    display: block;
    width: 70%;
    margin: auto;
    text-align: center;
}
.mostrar-codigo{
    
}



/*     */


.usuario-inicio-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
    align-items: center;
    padding: 5%;
}
.usuario-inicio-opciones {
    display: flex;
    flex-direction: column;
}

.usuario-inicio-opciones button {
    background-color: #66c2ff;
    border-radius: 4px;
    height: 4em;
}
.usuario-inicio-opciones {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.usuario-inicio-opciones button {
    background-color: #66c2ff;
    border-radius: 4px;
    height: 6em;
    width: 100%;
    font-family: sans-serif;
    font-family: sans-serif;
    text-align: center;
    color: black;
    margin: 4px;
}
.usuario-inicio-opciones button:hover {
    background-color: #0056b3;
}

.usuario-inicio-opciones input {
    height: 4em;
    width: 100%;
    color: #212529;
    background-color: #66c2ff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: black;
}
.usuario-inicio-opciones button:hover {
    background-color: #0056b3;
}

.usuario-inicio-opciones input {
    height: 4em;
    width: 100%;
    color: #212529;
    background-color: #66c2ff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.usuario-inicio-opciones input:hover {
    background-color: #0056b3;
}
.usuario-inicio-opciones input::placeholder {
    color: black;
    font-family: sans-serif;
    text-align: center;
}
.usuario-inicio-opciones input:focus{
    color: #212529;
}
.usuario-inicio-opciones input:hover {
    background-color: #0056b3;
}
.usuario-inicio-opciones input::placeholder {
    color: black;
    font-family: sans-serif;
    text-align: center;
}
.usuario-inicio-opciones input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    text-align: center;
}
.usuario-inicio-opciones input:focus::placeholder{
    color: white;
}

.mostrar-incidencia{
    width: 50%;
    height: 50%;
    display: block;
    padding: 1em;
    background-color: #66c2ff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}
.mostrar-incidencia input{
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}
.mostrar-incidencia button {
    display: block;
    margin: auto;
    width: 50%;
    height: 10%;
    background-color: rgb(52, 146, 209);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}
.resultados{
    height: fit-content;
}



.fixed-issues{
    position: fixed;
    top: 30%;
    left: 0%;
    width: 20%;
    height: 50%;
    background-color: #5DADE2;

  }