/* Css para la pagina de Crear o buscar Incidencias*/

/* para visualizar mejor lo tamaños */
* {
    border: 1px solid red;
}

.crearincidencia-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
    align-items: center;
    padding: 5%;
}
.crearincidencia-opciones {
    display: flex;
    flex-direction: column;
}
.crearincidencia-opciones button,input {
    background-color: #66c2ff;
    border-radius: 8px;
    height: 4em;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    color: black;
}
.crearincidencia-opciones input::placeholder{
    color: black;
    border-bottom: 2px solid grey;
}

