/* Configuracion general para todas las vistas */
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    height: 8%;
    background-color: #66c2ff;
}
header a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
header img{
    height: 80%;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 6px;
    margin: 6px;
}
header img:hover{
    transform: scale(1.05);
}
section{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    align-items: flex-end;
    height: 5%;
    width: 100%;
    background-color: #66c2ff;
}


/* Configuracion de bordes para ayuda visual */
* {
    border: 1px ;
}




/* Displays de las sections */
#usuario-inicio{
    display: flex;
    flex-direction: column;
}
#usuario-inicio{
    display: flex;
    flex-direction: column;
}
#usuario-crearincidencia{
    display: none;
}
#usuario-buscarincidencia{
    display: none;
}




/* Section usuario-inicio */
#usuario-inicio button {
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #66c2ff;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
}

#usuario-inicio button:hover {
    background: rgba(0, 118, 255, 0.9);
    box-shadow: 0 6px 20px rgba(0, 118, 255, 0.23);
}




/* Section crear-incidencias */
/* Carousel */
#myCarousel{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #66c2ff;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}
/* Contenido Carousel */
.contenido-1{
    display: block;
    width: 70%;
    margin: auto;
}
.contenido-1 label{
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    color: black;
    margin-bottom: 10px;
}
.contenido-1 input, textarea{
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
}
.contenido-2{
    display: block;
    width: 70%;
    margin: auto;
}
.contenido-2 div{
    margin-bottom: 1em;
}
.contenido-2 h3{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom:1em;
}
.contenido-3{
    display: block;
    width: 70%;
    margin: auto;
}
.contenido-3 h3{
    display: block;
    text-align: center;
}
.contenido-3 label{
    display: block;
    color: black;
    border-radius: 5px; 
    font-size: 16px;
    transition: all 0.3s ease;
    background: #66c2ff;
    box-shadow:  5px 5px 10px #5bade3, -5px -5px 10px #71d7ff;
    margin: 1em;
}
.contenido-3 label:hover{
    border-radius: 5px;
    color: black;
    background: #66c2ff;
    box-shadow: inset 15px 15px 30px #56a3d6, inset -15px -15px 30px #76e1ff;
}
.adjuntos-preview {
    height: fit-content;
    margin: 1em;
    min-height: 5em;
    border-radius: 4px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
}
.contenido-4{
    display: block;
    width: 70%;
    margin: auto;
}
.contenido-5{
    display: block;
    width: 70%;
    margin: auto;
}
.contenido-5 div{
    margin-bottom: 2em;
}
.btn-creado{
    display: block;
    color: black;
    border-radius: 5px; 
    font-size: larger;
    width: 90%;
    height: 4em;
    transition: all 0.3s ease;
    background: #66c2ff;
    box-shadow:  5px 5px 10px #5bade3, -5px -5px 10px #71d7ff;
    margin:1em;
}
.btn-creado:hover{
    background: #66c2ff;
    box-shadow: inset 15px 15px 30px #56a3d6, inset -15px -15px 30px #76e1ff;
}
.btn-cancelado{
    display: block;
    color: black;
    border-radius: 5px; 
    font-size: larger;
    width: 90%;
    height: 4em;
    transition: all 0.3s ease;
    background: #66c2ff;
    box-shadow:  5px 5px 10px #5bade3, -5px -5px 10px #71d7ff;
    margin: 1em;
}
.btn-cancelado:hover{
    background: #66c2ff;
    box-shadow: inset 15px 15px 30px #56a3d6, inset -15px -15px 30px #76e1ff;
}
.contenido-6{
    display: block;
    width: 70%;
    margin: auto;
    text-align: center;
}




/*  section usuario-buscarincidencia  */
.buscarincidencia-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
    margin: 1em;
}
.buscarincidencia-container-1 {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #F2F3F4;
}
.buscarincidencia-container-1 label{
    height: 50%;
    border-radius: 10px;
    margin: 4px;
}
.buscarincidencia-container-1 input{
    height: 100%;
    border-radius: 10px;
}
.buscarincidencia-container-bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 1em;
}
.buscarincidencia-container-2{
    width: 65%;
    border-radius: 10px;
    background-color: #F2F3F4;
    padding: 1em;
    margin-bottom: 4px;
}
.buscarincidencia-container-2 div{
    display: inline;
}
.buscarincidencia-container-3{
    width: 33%;
    border-radius: 10px;
    padding: 1em;
    background-color: #F2F3F4;
    display: flex;
    flex-direction: column;
}
#buscarincidencia-adjuntos{
    height: 20%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1em;
}
#buscarincidencia-comentarios{
    height: 40%;
    background-color: white;
    border-radius: 10px;
}
